/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    
    /*========== Colors ==========*/
    --hue-color: 236; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --shadow-color:rgba(0,0,0,.2);
    --white-color:white;

    /*========== Font weight ==========*/
    
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    
    /*========== z index ==========*/
    
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* .home .home__container .home__content .home__social a{
  display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    border: .1rem solid var(--first-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1rem;
    color: var(--first-color);
    /* margin: 2.5rem 1.5rem 3rem 0; 
    margin: .5rem 0.4rem 6rem 0;
    transition: .5s ease;

}*/

/*.home .home__container .home__content .home__social a:hover{
  background: var(--first-color);
    color: var(--white-color);

} */

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/

body.dark-theme{
  /* HSL color mode */
  /* --first-color-second: hsl(var(--hue-color), 30%, 8%); */
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  --shadow-color:rgba(0,0,0,.7);
}

/*========== Button Dark/Light ==========*/

.nav__btns{
  display: flex;
  align-items: center;
}

.change-theme{
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover{
  color: var(--first-color);
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
  /* background-color: black; */
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/

.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav{
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle{
  color: var(--title-color);
  font-size: larger;
  font-weight: var(--font-medium);
}

.nav__logo:hover{
  color: var(--first-color);

}

.nav__toggle{
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover{
  color: var(--first-color);
}

@media screen and (max-width:767px) {
  .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}

.nav__list{
  grid-template-columns: repeat(3,1fr);
  gap:2rem;
}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__icon{
  font-size: 1.2rem;
}

.nav__close{
  position: absolute;
  right: 1.3em;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover{
  color: var(--first-color-alt);
}

/* show menu */
.show-menu{
  bottom: 0;
}

/* Active link */
.active-link{
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}

/*==================== HOME ====================*/

.home__container{
  gap: 1rem;
}

.home__content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon{
  font-size: 1.6rem;
  background: transparent;
  border: .1rem solid var(--first-color);
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  box-shadow: 0 .2rem .5rem var(--shadow-color);
  color: var(--first-color);
  
}

.home__social-icon-box{
  font-size: 1.6rem;
  background: transparent;
  border: .1rem solid var(--first-color);
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  box-shadow: 0 .2rem .5rem var(--shadow-color);
  color: var(--first-color);
}

.home__social-icon-box i{
  background: transparent;
  color: var(--first-color-second);
}

.home__social-icon-box:hover{
  background: #FFF;
  color: var(--first-color-second);
}

.home__social-icon:hover{
  background: #FFF;
  color:var(--first-color);
}

.home__blob{
  width: 200px;
 fill: var(--first-color);
}

.home__blob-img{
  width: 200px;

}

.home__data{
  grid-column: 1/3;
}

.home__title{
  font-size: var(--big-font-size);
}

.home__subtitle{
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description{
  margin-bottom: var(--mb-2);
}

.home__scroll{
  display: none;
}

.home__scroll-button{
  /* background-image: linear-gradient(to right, rgb(54, 184, 216) 0%, rgb(55, 55, 175) 51%, rgb(183, 74, 197) 100%); */
  color: var(--first-color);
  transition: .3s;

}

.home__scroll-button:hover{
  transform: translateY(.25rem);
}

.home__scroll-mouse{
  font-size: 2rem;
}

.home__scroll-name{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
  font-size: 1.25rem;
}

/*==================== BUTTONS ====================*/
.button{
  display: inline-block;
  background-image: linear-gradient(to right, rgb(54, 184, 216) 0%, rgb(73, 82, 207) 51%);
  /* background-image: linear-gradient(to right, rgb(54, 184, 216) 0%, rgb(55, 55, 175) 51%,rgb(183, 74, 197) 100%); */
  /* background-color: var(--first-color); */
  color: #FFF;
  padding: .7rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .3s ease;
}

.button:hover{
  background: transparent;
  color: var(--first-color);
  border: .2rem solid transparent;
  border-color: var(--first-color);
}

.home__icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--white{
  display: inline-block;
  padding: .7rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .3s ease;
  background-color: #FFF;
  color: var(--first-color);
}

.button--white:hover{
  background-color: #FFF ;
  
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

.button--small{
  padding: .75rem 1rem;
}

.button--link{
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover{
  background-color: transparent;
  color: var(--first-color-alt);
}

/*==================== ABOUT ====================*/
.about__img{
  width: 200px;
  border-radius: .5rem;
  justify-self: center;
}

.about__description{
  text-align: center;
  /* margin-bottom: var(--mb-2-5); */
  margin-bottom: var(--mb-1-5);
}

.about__info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

 .skills-container {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-container .skills-box {
  flex: 0 0 20rem;
  background: var(--body-color);
  /* padding: 1rem 1rem 1rem; */
  padding-top: 1rem;
  padding-bottom: 0rem;
  width: 25rem;
  height: 11rem;
  border-radius: 2rem;
  box-shadow: 0 .1rem .5rem var(--shadow-color);
  text-align: center;
  border-top: .2rem solid var(--first-color);
  border-bottom: .2rem solid var(--first-color);
  border-left: .2rem solid var(--first-color);
  border-right: .2rem solid var(--first-color);
  transition: .5s ease;
}

.bx{
  color: var(--first-color);
}

.skills-container .skills-box:hover {
  box-shadow: 0 .1rem .2rem var(--shadow-color);
  transform: scale(1.02);
}

.skills-box i{
  font-size: 3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.skills-box i:hover{
  color: var(--first-color);
}

.skills-box h1{
  font-size: 2rem;
  text-align: center;
}

.skills-box h1:hover{
  color: var(--first-color);
}

.skills-box h2{
  font-size: 1rem;
  text-align: center;
}

.skills-box h2:hover{
  color: var(--first-color);
}

.about__info-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);

}

.about__info-name{
  font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name{
  display: block;
  text-align: center;
}

.about__buttons{
  display: flex;
  justify-content: center;
}

/*==================== SKILLS ====================*/
.skills__container{
  row-gap: 0;
}

.skills__header{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow{
  font-size: 2rem;
  color: var(--first-color);
}

.skills__icon{
  margin-right: var(--mb-0-75);
}

.skills__title{
  font-size: var(--h3-font-size);
}

.skills__subtitle{
  font-size: var(--small-font-size); 
  color: var(--text-color-light); 
}

.skills__arrow{
  margin-left: auto;
  transition: .4s;
}

.skills__list{
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills__titles{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);

}

.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage{
  height: 5px;
  border-radius: .25rem;
}

.skills__bar{
  background-color: var(--first-color-lighter);
}

.skills__percentage{
  display: block;
  background-color: var(--first-color);
}
.skills__html{
  width: 90%;
}

.skills__css{
  width: 80%;
}

.skills__js{
  width: 70%;
}

.skills__react{
  width: 55%;
}

.skills__figma{
  width: 70%;
}

.skills__php{
  width: 70%;
}

.skills__javaback{
  width: 75%;
}

.skills__firebase{
  width: 60%;
}

.skills__sql{
  width: 90%;
}

.skills__jdbc{
  width: 75%;
}

.skills__python{
  width: 90%;
}

.skills__c{
  width: 90%;
}

.skills__java{
  width: 85%;
}

.skills__cpp{
  width: 70%;
}

.skills__vscode{
  width: 95%;
}

.skills__bootstrap{
  width: 75%;
}

.skills__phpmyadmin{
  width: 65%;
}

.skills__github{
  width: 90%;
}

.skills__django{
  width: 50%;
}

.skills__eclipse{
  width: 75%;
}

.skills__opencv{
    width: 80%;
}

.skills__tensorflow{
  width: 70%;
}

.skills__numpy{
  width: 60%;
}

.skills__matplotlib{
  width: 60%;
}

.skills__pandas{
  width: 55%;
}

.skills__jupyter{
  width: 80%;
}

.skills__close .skills__list{
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list{
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow{
  transform: rotate(-180deg);
}

/*==================== QUALIFICATION ====================*/

.heading{
  text-align: center;
}

.eduexp {
  position: relative;
  justify-content: center;
  align-items: center; 
  background-color: var(--body-color);
  display: flex;
  box-sizing: border-box;
  min-height: 30vh;
}

main.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-column-gap: 120px;
}

.col header.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--h3-font-size);
  padding: 0px 0px 20px 30px;
}

#edu {
  font-size: larger;
  /* color: var(--first-color); */
}

#one {
  font-size: 1rem;
  /* color: #FFF; */
}

#clg {
  font-size: 1rem;
  color: var(--text-color);
}

#yr {
  font-size: .7rem;
}

.col .contents {
  padding: 0px 30px;
  border-left: 2px solid var(--first-color);
}

.col .contents .box {
  position: relative;
  padding: 20px;
  width: 27rem;
  border: 1px solid var(--shadow-color);
  background-color: var(--body-color);
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
  box-shadow: 0px 3px 8px 0px var(--text-color);
  border: 1px solid transparent;
}

/* .col .contents .box:hover {
  box-shadow: 0px 3px 12px 0px var(--text-color);
  border: 1px solid transparent;
} */

.col .contents .box::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 0;
  background-color: var(--first-color);
  border: 2px solid var(--body-color);
}


/* .qualification__tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification__button{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification__button:hover{
  color: var(--first-color);
}

.qualification__icon{
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification__data{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification__calendar{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.qualification__rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.qualification__line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px,-7px);
}

.qualification [data-content]{
  display: none;
}

.qualification__active[data-content]{
  display: block;
}

.qualification__button.qualification__active{
  color: var(--first-color);
} */

/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/
.portfolio__container{
  overflow: initial;
}

.portfolio__content{
  padding: 0 1.5rem;
}

.portfolio__img{
  width: 265px;
  border-radius: .5rem;
  justify-self: center;
}

.portfolio__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
  /* text-align: center; */
}

.portfolio__description{
  margin-bottom: var(--mb-0-75);
}

.portfolio__button:hover .button__icon{
  transform: translateX(.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after{
  content: '';
}

.swiper-portfolio-icon{
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-prev{
  left: -.5rem;
}

.swiper-button-next{
  right: -.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
  bottom: -2.5rem; 
}

.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet{
  outline: none;
}

/*==================== PROJECT IN MIND ====================*/
.project{
  text-align: center;
}

.project__bg{
  background-color: var(--first-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: .5rem;
}

.project__title{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-0-75);
}

.project__description{
  margin-bottom: var(--mb-1-5);
}

.project__title,
.project__description{
  color: #FFF;
}

/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/
.contact__container{
  row-gap: 3rem;
}

.contact__information{
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon{
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__content{
  background-color: var(--input-color);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
  border: 0.1rem solid var(--first-color);
  box-shadow: 0 .4rem .8rem var(--shadow-color);
}

.contact__label{
  font-size: var(--h3-font-size);
  color: var(--title-color);
}

.contact__input{
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}

.button-contact{
  height: 3.2rem;
  font-size: large;
  color: #FFF;
  width: 9rem;
  border-radius: .7rem;
  border-left: none;
  border-right: none ;
  border-color: transparent;
  background-image: linear-gradient(to right, rgb(54, 184, 216) 0%, rgb(73, 82, 207) 51%);;
}

.button-contact:hover{
  background: transparent;
  color: var(--first-color);
  border-color: var(--first-color-second);
  border-left: .15rem solid var(--first-color-second);
  border-right: .15rem solid var(--first-color-second);
  border-top: .15rem solid var(--first-color-second);
  border-bottom: .15rem solid var(--first-color-second);
}

/*==================== FOOTER ====================*/
.footer{
  padding-top: 2rem;
}

.footer__container{
  row-gap: 3.5rem;
}

.footer__bg{
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
  font-size: var(--small-font-size);
}

.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover{
  color: var(--first-color-lighter);
}

.footer__social{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social-ic i{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
  color: #FFF;
}

.footer__social-ic:hover i{
  color: var(--first-color-lighter);
}

.footer__social:hover{
  color: var(--first-color-lighter);
}

.footer__copy{
  font-size: var(--smaller-font-size);
  text-align: center;
  color: #FFF;
  margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
  color: #FFF;
}

/*========== SCROLL UP ==========*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -20%; 
  background-color: var(--first-color);
  opacity: .8;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover{
  color: var(--first-color-alt); 
}

.scrollup__icon{
  size: 1.5rem;
  color: #FFF;
}

/* Show scroll */
.show-scroll{
  bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
  width: .60rem;
  color: var(--scroll-bar-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/

/* For very small devices */

@media screen and (min-width: 250px) {
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu{
    padding: 2rem .25rem 4rem;
  }
  .nav__list{
    column-gap: 0;
  }

  .home__content{
    grid-template-columns: .25fr 3fr;
  }
  .home__blob{
      width: 180px;
  }

  .home__title{
    font-size: var(--h1-font-size);
  }

  .home__subtitle{
    font-size: var(--h3-font-size);
  }

  .home__description{
    font-size: small;
  }

  .skills__title{
    font-size: var(--normal-font-size);
  }

  /* .skills-container {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  } */
  
  .skills-container .skills-box {
    width: 15rem;
    height: 6rem;
  }
  
  
  .skills-box h2:hover{
    color: var(--first-color);
  }

  .qualification__data{
    gap: 0rem;
  }

  .about__description{
    font-size: small;
  }

  .project__img{
    width: 200px;
  }

  /* .skills-container {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }*/
  
  .skills-container .skills-box {
    flex: 0 0 14rem;
    background: var(--body-color);
    padding: 1rem 1rem 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 3.3rem;
    height: 7rem;
    border-radius: 1rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .2rem solid var(--first-color);
    border-bottom: .2rem solid var(--first-color);
    border-left: .2rem solid var(--first-color);
    border-right: .2rem solid var(--first-color);
    transition: .5s ease;
  }
  
  /*.bx{
    color: var(--first-color);
  }
  
  .skills-container .skills-box:hover {
    box-shadow: 0 .1rem .2rem var(--shadow-color);
    transform: scale(1.02);
  }*/
  
  .skills-box i{
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  /*.skills-box i:hover{
    color: var(--first-color);
  }*/
  
  .skills-box h1{
    font-size: 1rem;
    text-align: center;
  }
  
  /*.skills-box h1:hover{
    color: var(--first-color);
  }*/
  
  .skills-box h2{
    font-size: .7rem;
    text-align: center;
  }
  
  /*.skills-box h2:hover{
    color: var(--first-color);
  } */

  .project__bg{
    background-color: var(--first-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: .5rem;
  }

  .project{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .project__title{
    font-size: small;
    margin-bottom: var(--mb-0-75);
  }

  .project__description{
    font-size: smaller;
  }

  .button{
    font-size: small;
  }

  .button--white{
    font-size: small;
  }

  .row{
    align-items: center;
    justify-content: center;
  }

  main.row {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    grid-column-gap: 40px;
  }

  .col .contents .box {
    position: relative;
    padding: 20px;
    width: 10rem;
    border: 1px solid var(--shadow-color);
    background-color: var(--body-color);
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    box-shadow: 0px 3px 8px 0px var(--text-color);
    border: 1px solid transparent;
  }

  /* .contact__container{
    row-gap: 3rem;
  } */
  
  /* .contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
  } */
  
  .contact__icon{
    font-size: 1rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
  }
  
  .contact__title{
    font-size: small;
    font-weight: var(--font-medium);
  }
  
  .contact__subtitle{
    font-size: x-small;
    color: var(--text-color-light);
  }
  
  .contact__content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
    border: 0.1rem solid var(--first-color);
    box-shadow: 0 .4rem .8rem var(--shadow-color);
  }
  
  .contact__label{
    font-size: small;
    color: var(--title-color);
  }

  .button-contact{
    height: 2.5rem;
    font-size: small;
    width: 7rem;
    border-radius: .7rem;
   
  }
}



/* For small devices */
@media screen and (min-width: 380px) {
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu{
    padding: 2rem .25rem 4rem;
  }
  .nav__list{
    column-gap: 0;
  }

  .home__content{
    grid-template-columns: .25fr 3fr;
  }
  .home__blob{
      width: 180px;
  }

  .home__title{
    font-size: var(--h1-font-size);
  }

  .home__subtitle{
    font-size: var(--h3-font-size);
  }

  .home__description{
    font-size: small;
  }

  .skills__title{
    font-size: var(--normal-font-size);
  }

  /* .skills-container {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  } */
  
  .skills-container .skills-box {
    width: 15rem;
    height: 6rem;
  }
  
  
  .skills-box h2:hover{
    color: var(--first-color);
  }

  .qualification__data{
    gap: 0rem;
  }

  .about__description{
    font-size: small;
  }

  .project__img{
    width: 200px;
  }

  /* .skills-container {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }*/
  
  .skills-container .skills-box {
    flex: 0 0 14rem;
    background: var(--body-color);
    padding: 1rem 1rem 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 3.3rem;
    height: 7rem;
    border-radius: 1rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .2rem solid var(--first-color);
    border-bottom: .2rem solid var(--first-color);
    border-left: .2rem solid var(--first-color);
    border-right: .2rem solid var(--first-color);
    transition: .5s ease;
  }
  
  /*.bx{
    color: var(--first-color);
  }
  
  .skills-container .skills-box:hover {
    box-shadow: 0 .1rem .2rem var(--shadow-color);
    transform: scale(1.02);
  }*/
  
  .skills-box i{
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  /*.skills-box i:hover{
    color: var(--first-color);
  }*/
  
  .skills-box h1{
    font-size: 1rem;
    text-align: center;
  }
  
  /*.skills-box h1:hover{
    color: var(--first-color);
  }*/
  
  .skills-box h2{
    font-size: .7rem;
    text-align: center;
  }
  
  /*.skills-box h2:hover{
    color: var(--first-color);
  } */

  .project__bg{
    background-color: var(--first-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: .5rem;
  }

  .project{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .project__title{
    font-size: small;
    margin-bottom: var(--mb-0-75);
  }

  .project__description{
    font-size: smaller;
  }

  .button{
    font-size: small;
  }

  .button--white{
    font-size: small;
  }

  .row{
    align-items: center;
    justify-content: center;
  }

  main.row {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    grid-column-gap: 40px;
  }

  .col .contents .box {
    position: relative;
    padding: 20px;
    width: 10rem;
    border: 1px solid var(--shadow-color);
    background-color: var(--body-color);
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    box-shadow: 0px 3px 8px 0px var(--text-color);
    border: 1px solid transparent;
  }

  /* .contact__container{
    row-gap: 3rem;
  } */
  
  /* .contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
  } */
  
  .contact__icon{
    font-size: 1rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
  }
  
  .contact__title{
    font-size: small;
    font-weight: var(--font-medium);
  }
  
  .contact__subtitle{
    font-size: x-small;
    color: var(--text-color-light);
  }
  
  .contact__content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
    border: 0.1rem solid var(--first-color);
    box-shadow: 0 .4rem .8rem var(--shadow-color);
  }
  
  .contact__label{
    font-size: small;
    color: var(--title-color);
  }

  .button-contact{
    height: 2.5rem;
    font-size: small;
    width: 7rem;
    border-radius: .7rem;
   
  }
}

/* @media screen and (max-width: 567px){

  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu{
    padding: 2rem .25rem 4rem;
  }
  .nav__list{
    column-gap: 0;
  }

  .home__content{
    grid-template-columns: .25fr 3fr;
  }
  .home__blob{
      width: 180px;
  }

  .home__title{
    font-size: var(--h1-font-size);
  }

  .home__subtitle{
    font-size: var(--h3-font-size);
  }

  .home__description{
    font-size: small;
  }

  .skills__title{
    font-size: var(--normal-font-size);
  }

  
  .skills-container .skills-box {
    width: 15rem;
    height: 6rem;
  }
  
  
  .skills-box h2:hover{
    color: var(--first-color);
  }

  .qualification__data{
    gap: 0rem;
  }

  .about__description{
    font-size: small;
  }

  .project__img{
    width: 200px;
  }

  
  .skills-container .skills-box {
    flex: 0 0 14rem;
    background: var(--body-color);
    padding: 1rem 1rem 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 3.3rem;
    height: 7rem;
    border-radius: 1rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .2rem solid var(--first-color);
    border-bottom: .2rem solid var(--first-color);
    border-left: .2rem solid var(--first-color);
    border-right: .2rem solid var(--first-color);
    transition: .5s ease;
  }
  
  
  
  .skills-box i{
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  
  
  .skills-box h1{
    font-size: 1rem;
    text-align: center;
  }
  
  
  
  .skills-box h2{
    font-size: .7rem;
    text-align: center;
  }
  
  

  .project__bg{
    background-color: var(--first-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: .5rem;
  }

  .project{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .project__title{
    font-size: small;
    margin-bottom: var(--mb-0-75);
  }

  .project__description{
    font-size: smaller;
  }

  .button{
    font-size: small;
  }

  .button--white{
    font-size: small;
  }
  
  .contact__icon{
    font-size: 1rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
  }
  
  .contact__title{
    font-size: small;
    font-weight: var(--font-medium);
  }
  
  .contact__subtitle{
    font-size: x-small;
    color: var(--text-color-light);
  }
  
  .contact__content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
    border: 0.1rem solid var(--first-color);
    box-shadow: 0 .4rem .8rem var(--shadow-color);
  }
  
  .contact__label{
    font-size: small;
    color: var(--title-color);
  }

  .button-contact{
    height: 2.5rem;
    font-size: small;
    width: 7rem;
    border-radius: .7rem;
   
  }

  main.row{
    grid-template-columns: 1fr;
    padding-left: 5rem;
  }

}  */




/* For medium devices */
@media screen and (min-width: 568px) {
  .home__content{
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data{
    grid-column: initial;
  }
  .home__img{
    order: 1;
    justify-self: center;
  }

  .about__container,
  .skills__container,
  .portfolio__content,
  .project__container
  .contact__container
  .footer__container{
    grid-template-columns: repeat(2,1fr);
  }
  /* .project__container{
    align-content: center;
    padding-left: 12rem;
  } */

  main.row {
    display: grid;
    grid-template-columns: 1fr;
     align-items: center;
    justify-content: center;
    grid-column-gap: 80px; 
  }
  
  .col header.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--h3-font-size);
    padding: 0px 0px 20px 30px;
  }
  
  #edu {
    font-size: larger;
    /* color: var(--first-color); */
  }
  
  #one {
    font-size: 1rem;
    /* color: #FFF; */
  }
  
  #clg {
    font-size: 1rem;
    color: var(--text-color);
  }
  
  #yr {
    font-size: .7rem;
  }
  
  .col .contents {
    padding: 0px 30px;
    border-left: 2px solid var(--first-color);
  }
  
  .col .contents .box {
    position: relative;
    padding: 20px;
    width: 27rem;
    border: 1px solid var(--shadow-color);
    background-color: var(--body-color);
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    box-shadow: 0px 3px 8px 0px var(--text-color);
    border: 1px solid transparent;
  }
  
  /* .col .contents .box:hover {
    box-shadow: 0px 3px 12px 0px var(--text-color);
    border: 1px solid transparent;
  } */
  
  .col .contents .box::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: var(--first-color);
    border: 2px solid var(--body-color);
  }

  /* .qualification__sections{
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  } */
}

@media screen and (min-width: 768px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  body{
    margin: 0;
  }

  .section{
    padding: 6rem 0 2rem;
  }
  .section__subtitle{
    margin-bottom: 4rem ;
  }

  .header{
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer__container{
    padding: 0 1.5rem; /**/
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav__link{
    padding-top: 2rem;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle{
    display: none;
  }
  .nav__list{
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu{
    margin-left: auto;
  }
  .change-theme{
    margin: 0;
  }

  .home__container{
    row-gap: 5rem;
  }
  .home__content{
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home__blob{
    width: 270px;
  }
  .home__scroll{
    display: block;
  }
  .home__scroll-button{
    margin-left: 3rem;
  }

  .about__container{
    column-gap: 5rem;
  }
  .about__img{
    width: 350px;
  }
  .about__description{
    text-align: initial;
  }
  .about__info{
    justify-content: space-between;
  }
  .about__buttons{
    justify-content: initial;
  }

  main.row {
    display: grid; 
    grid-template-columns: 1fr;
     align-items: center;
    justify-content: center;
    grid-column-gap: 80px;
    padding-left: 5rem; 
  }

  /* .qualification__tabs{
    justify-content: center;
  }
  .qualification__button{
    margin: 0 var(--mb-1);
  }
  .qualification__sections{
    grid-template-columns: .7fr;
  } */

  .portfolio__img{
    width: 320px;
  }
  .portfolio__content{
    align-items: center;
  }

  .project{
    text-align: center;
  }
  /* .project__bg{
    background: none;
  }
  .project__container{
    background-color: var(--first-color-second);
    border-radius: 1rem;
    padding: 3rem 2.5rem 0;
    grid-template-columns: 1fr max-content;
    column-gap: 3rem;
  } */

  .footer__container{
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg{
    padding: 3rem 0 3.5rem;
  }
  .footer__links{
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer__socials{
    justify-self: flex-end;
  }
  .footer__copy{
    margin-top: 4.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px){
  .header,
  .main,
  .footer__container{
    padding: 0;
  }

  .nav__link{
    padding-top: 2rem;
  }

  .home__blob{
    width: 320px;
  }
  .home__social{
    transform: translateX(-6rem);
  }

  .home__title{
    font-size: var(--h1-font-size);
  }

  .portfolio__content{
    column-gap: 5rem;
  }
  .swiper-portfolio-icon{
    font-size: 3.5rem;
  }
  .swiper-button-prev{
    left: -3.5rem;
  }
  .swiper-button-next{
    right: -7rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -4.5rem;
  }

  .project__container{
    height: fit-contents;
  }

  main.row {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    /* align-items: center;
    justify-content: center;
    grid-column-gap: 60px; */
  }

  /* .col .contents .box {
    position: relative;
    padding: 20px;
    width: 25rem;
    border: 1px solid var(--shadow-color);
    background-color: var(--body-color);
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    box-shadow: 0px 3px 8px 0px var(--text-color);
    border: 1px solid transparent;
  } */

  /* .contact__form{
    width: 460px;
  }
  .contact__inputs{
    grid-template-columns: repeat(2, 1fr);
  } */
}

/* For very large devices */
@media screen and (min-width: 1200px){
  .header,
  .main,
  .footer__container{
    padding: 0;
  }

  .nav__link{
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

  .home__blob{
    width: 400px;
  }
  .home__social{
    transform: translateX(-5rem);
  }

  .portfolio__content{
    padding: 0 1.5rem;
  }
  
  .portfolio__content{
    column-gap: 5rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
  } 
  .portfolio__img{
    width: 500px;
  }
  .swiper-portfolio-icon{
    font-size: 3.5rem;
  }
  .swiper-button-prev{
    left: -6.5rem;
  }
  .swiper-button-next{
    right: -6.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -5.5rem;  
  } 

     main.row {
      /* display: grid; */
      grid-template-columns: 1fr 1fr;
      /* align-items: center;
      justify-content: center;
      grid-column-gap: 80px; */
    } 

  .project.section{
    padding-left: 24rem ;
    padding-top: 10rem;
    padding-bottom: 1rem;
  }
    
  .project__container{
    height: fit-contents;
    padding-bottom: 2rem;
  } 
    
  .project__title{
     font-size: larger;
  }

  .project__bg{
    background-color: var(--first-color);
    font-size: larger;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    border-radius: .5rem;
    width: 700px ;
    align-content: center;
    height: 270px;
  }
    
}
